<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Behm Architects</title>
  <meta name="author" content="Behm Architects">
  <meta name="description" content="residential architecture">
  <meta name="keywords" content="architect, design, residential">
  <link rel="shortcut icon" href="img/favicon.png" type="image/png">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
  <div class="container">
    <div id="logo">
      <div class="letters">
        <img class="B" src="img/B.png">
        <img class="E" src="img/E.png">
        <img class="H" src="img/H.png">
        <img class="M" src="img/M.png">
      </div>
      <div class="horiz-line"></div>

      <img class="architects" src="img/architects.png">

    </div>
    <div class="content">
      <p>Please contact us at <a href="mailto:info@behmarchitects.com">info@BehmArchitects.com</a></p>
      <br>
      <p>262 Chestnut Street<br> San Francisco, CA 94133</p>
      <p>415.935.0491 </p>
    </div>
  </div>

  <script type="text/javascript" src="/js/script.js"></script>
</body>
</html>
